In [1]:
import funciones_etl
etl = funciones_etl

**------------------------------------------User Items------------------------------------------**

In [2]:
df_items = etl.Cargar_a_Dataframe('datos_originales/users_items.json.gz','rb')
#df_user_item.head()

In [3]:

etl.CalcularNulos(df_items)

el porcentaje de datos nulos en la columna  user_id  es del  0.0 %
el porcentaje de datos nulos en la columna  items_count  es del  0.0 %
el porcentaje de datos nulos en la columna  steam_id  es del  0.0 %
el porcentaje de datos nulos en la columna  user_url  es del  0.0 %
el porcentaje de datos nulos en la columna  items  es del  0.0 %
-------------------------------------------------------------------------------------------

guardo una copia de los datos que no voy a usar en 'id_steam.csv'

In [4]:
id_steam = df_items.drop(['items'],axis=1)
id_steam.to_parquet('datos/id_steam.parquet',index=False)
del(id_steam)

utilizo la funcion en el modulo funciones_etl.py para desanidar los objetos almacenados en la columna items

In [5]:
#los 3 argumentos: datafram, string:columna a desanidar, string: columna importante donde se va a concatenar el resultado de los datos
df_items = etl.DesanidarColumnas(df_items,'items','user_id')

etl.CalcularNulos(df_items)

el porcentaje de datos nulos en la columna  user_id  es del  0.0 %
el porcentaje de datos nulos en la columna  item_id  es del  0.3 %
el porcentaje de datos nulos en la columna  item_name  es del  0.3 %
el porcentaje de datos nulos en la columna  playtime_forever  es del  0.3 %
el porcentaje de datos nulos en la columna  playtime_2weeks  es del  0.3 %
-------------------------------------------------------------------------------------------

In [6]:
df_items.head()

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6.0,0.0
1,76561197970982479,20,Team Fortress Classic,0.0,0.0
2,76561197970982479,30,Day of Defeat,7.0,0.0
3,76561197970982479,40,Deathmatch Classic,0.0,0.0
4,76561197970982479,50,Half-Life: Opposing Force,0.0,0.0

In [9]:
df_items.shape

(5170015, 5)

In [10]:
df_items.to_parquet('datos/items.parquet',index=False)
del(df_items)

+ **por temas de recursos, procedo a cerrar este notebook para liberar el consumo de ram y realizo otro ETL para continuar con la limpieza con el formato parquet**