In [113]:
import pandas as pd
import funciones_etl
etl = funciones_etl
import re

In [114]:
games = etl.Cargar_a_Dataframe('datos_originales/steam_games.json.gz','rt')

*con la funcion CalcularNulos creada en el modulo de funciones_etl.py se puede visualizar el porcentaje de valores faltantes de cada columna de los* **dataframes**

In [115]:
etl.CalcularNulos(games)

el porcentaje de datos nulos en la columna  publisher  es del  80.0 %
el porcentaje de datos nulos en la columna  genres  es del  76.0 %
el porcentaje de datos nulos en la columna  app_name  es del  73.3 %
el porcentaje de datos nulos en la columna  title  es del  75.0 %
el porcentaje de datos nulos en la columna  url  es del  73.3 %
el porcentaje de datos nulos en la columna  release_date  es del  75.0 %
el porcentaje de datos nulos en la columna  tags  es del  73.5 %
el porcentaje de datos nulos en la columna  reviews_url  es del  73.3 %
el porcentaje de datos nulos en la columna  specs  es del  73.9 %
el porcentaje de datos nulos en la columna  price  es del  74.5 %
el porcentaje de datos nulos en la columna  early_access  es del  73.3 %
el porcentaje de datos nulos en la columna  id  es del  73.3 %
el porcentaje de datos nulos en la columna  developer  es del  76.1 %
-------------------------------------------------------------------------------------------

1. *Se procede a eliminar las filas que estan completamente vacias del* **'df_steam'**
2. *se comprueba nuevamente el porcentaje de datos nulos*

In [116]:

games = games.dropna(how='all')

etl.CalcularNulos(games)

el porcentaje de datos nulos en la columna  publisher  es del  25.1 %
el porcentaje de datos nulos en la columna  genres  es del  10.2 %
el porcentaje de datos nulos en la columna  app_name  es del  0.0 %
el porcentaje de datos nulos en la columna  title  es del  6.4 %
el porcentaje de datos nulos en la columna  url  es del  0.0 %
el porcentaje de datos nulos en la columna  release_date  es del  6.4 %
el porcentaje de datos nulos en la columna  tags  es del  0.5 %
el porcentaje de datos nulos en la columna  reviews_url  es del  0.0 %
el porcentaje de datos nulos en la columna  specs  es del  2.1 %
el porcentaje de datos nulos en la columna  price  es del  4.3 %
el porcentaje de datos nulos en la columna  early_access  es del  0.0 %
el porcentaje de datos nulos en la columna  id  es del  0.0 %
el porcentaje de datos nulos en la columna  developer  es del  10.3 %
-------------------------------------------------------------------------------------------

1. Se utiliza la funcion isin() de pandas para verificar cuantas coincidencias hay entre columnas
2. con value_counts se contabilizara la cantidad de valores que coinciden(True) y cuantos no(False)

In [117]:
print(games['genres'].isin(games['tags']).value_counts())
print(games['app_name'].isin(games['title']).value_counts())

genres
True     27447
False     4688
Name: count, dtype: int64

app_name
True     29538
False     2597
Name: count, dtype: int64

Procedo a rellenar los espacios vacios de las columnas con menos datos

In [118]:
games['genres'] = games['tags'].fillna(games['genres'])
games['title'] = games['app_name'].fillna(games['title'])

por ultimo para que queden balanceadas, el mismo procedimiento pero a la inversa

In [119]:
games['tags'] = games['genres'].fillna(games['tags'])
games['app_name'] = games['title'].fillna(games['app_name'])

* *Cosas a tener en cuenta, title|app_name , tags|genres y developer|publisher, son columnas que comparten los mismos datos, por lo que ya no es necesaria que esten ambos, por lo que se procede a eliminar una de las dos*

*se conservara la columna* **Title** *y* **genres** *de momento*

In [120]:
games = games.drop(['publisher','app_name','tags','developer'],axis=1)
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        31996 non-null  object
 1   title         32133 non-null  object
 2   url           32135 non-null  object
 3   release_date  30068 non-null  object
 4   reviews_url   32133 non-null  object
 5   specs         31465 non-null  object
 6   price         30758 non-null  object
 7   early_access  32135 non-null  object
 8   id            32133 non-null  object
dtypes: object(9)
memory usage: 2.5+ MB

*se quitan columnas no relevantes que no apuntan al objetivo del proyecto*

In [121]:
games = games.drop(['specs','price','early_access','reviews_url'],axis=1)
games.head(12)

,genres,title,url,release_date,id
88310,"[Strategy, Action, Indie, Casual, Simulation]",Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,761140
88311,"[Free to Play, Strategy, Indie, RPG, Card Game...",Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,643980
88312,"[Free to Play, Simulation, Sports, Casual, Ind...",Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,670290
88313,"[Action, Adventure, Casual]",弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,767400
88314,"[Action, Indie, Casual, Sports]",Log Challenge,http://store.steampowered.com/app/773570/Log_C...,NaN,773570
88315,"[Action, Adventure, Simulation, FPS, Shooter, ...",Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,772540
88316,"[Free to Play, Indie, Simulation, Sports]",SNOW - All Access Basic Pass,http://store.steampowered.com/app/774276/SNOW_...,2018-01-04,774276
88317,"[Free to Play, Indie, Simulation, Sports]",SNOW - All Access Pro Pass,http://store.steampowered.com/app/774277/SNOW_...,2018-01-04,774277
88318,"[Free to Play, Indie, Simulation, Sports]",SNOW - All Access Legend Pass,http://store.steampowered.com/app/774278/SNOW_...,2018-01-04,774278
88319,"[Indie, Casual, Simulation, Racing]",Race,http://store.steampowered.com/app/768800/Race/,2018-01-04,768800
88320,"[Early Access, Action, Indie, Simulation, Surv...",Uncanny Islands,http://store.steampowered.com/app/768570/Uncan...,Soon..,768570
88321,[Casual],Icarus Six Sixty Six,http://store.steampowered.com/app/724910/Icaru...,NaN,724910

*separamos el dato de año*
* En los primeros datos se observa que la columna release_date tiene filas vacias o filas con la etiqueta 'Soon..', para convertir los datos existentes a datetime se necesita verificar bien como estan registrados
* Los nulos no hay columnas que puedan ayudarnos a verificar su lanzamiento por lo que procedemos a borrarlos

In [122]:
games.dropna(subset=['release_date','genres'],inplace=True)
games['release_date'].head(10)

88310    2018-01-04
88311    2018-01-04
88312    2017-07-24
88313    2017-12-07
88315    2018-01-04
88316    2018-01-04
88317    2018-01-04
88318    2018-01-04
88319    2018-01-04
88320        Soon..
Name: release_date, dtype: object

filtramos las fechas que contengan el año

In [123]:
fecha_r = r"(\d{4})"
games = games[games['release_date'].str.contains(fecha_r)]
games['release_date'].head()

/tmp/ipykernel_29823/379112750.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  games = games[games['release_date'].str.contains(fecha_r)]

88310    2018-01-04
88311    2018-01-04
88312    2017-07-24
88313    2017-12-07
88315    2018-01-04
Name: release_date, dtype: object

por ultimo se extrae el dato AÑO del string

In [124]:
games['release_year'] = games['release_date'].str.extract(fecha_r)

In [125]:
etl.CalcularNulos(games)

el porcentaje de datos nulos en la columna  genres  es del  0.0 %
el porcentaje de datos nulos en la columna  title  es del  0.0 %
el porcentaje de datos nulos en la columna  url  es del  0.0 %
el porcentaje de datos nulos en la columna  release_date  es del  0.0 %
el porcentaje de datos nulos en la columna  id  es del  0.0 %
el porcentaje de datos nulos en la columna  release_year  es del  0.0 %
-------------------------------------------------------------------------------------------

In [126]:

games.to_parquet('datos/games.parquet',index=False)
#df_steam.to_parquet('steam_games.parquet')